body {
  background-color: #12343b;
}

h1 {
  color: #eee;
  letter-spacing: 0.2rem;
  margin: none;
  padding: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.reset {
  border: none;
  background-color: darkred;
  border-radius: 1rem;
  cursor: pointer;
}

.reset:hover {
  background-color: #9e3131;
  transform: scale(1.05);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.emoji {
  font-size: 7.6rem;
  background-color: #eee;
  outline: 0.15rem solid #12343b;
  transition: all 0.4s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

.emoji::after,
.game-won::after,
.emoji-wrong::after,
.emoji-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.emoji::after {
  background: darkgray;
  backface-visibility: hidden;
}

.emoji-reveal {
  transform: rotateY(0deg);
}

.game-won,
.emoji-wrong,
.emoji-right {
  transform: rotateY(0deg);
}

.game-won::after,
.emoji-wrong::after,
.emoji-right::after {
  opacity: 0.2;
  transform: rotateY(180deg);
  backface-visibility: visible;
}

.emoji-wrong::after {
  background-color: red;
}

.game-won::after,
.emoji-right::after {
  background-color: green;
}
