body {
  background-color: #12343b;
}

.main {
  /* background-color: #eee;#e1b382; */
  margin: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.reset {
  border: none;
  background-color: darkred;
  color: #eee;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 12px;
  height: 48px;
  width: 240px;
  cursor: pointer;
}

.reset:hover {
  background-color: #9e3131;
  transform: scale(1.05);
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* background-color: black; */
  column-gap: 2px;
  row-gap: 2px;
}

.emoji {
  font-size: 124px;
  background-color: #eee;
  transition: transform 0.4s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

.emoji::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #eee;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.emoji-reveal {
  transform: rotateY(0deg);
}
