.cards-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.emoji {
  font-size: var(--size);
  background-color: #eee;
  transition: transform 0.4s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

.emoji::after,
.game-won .emoji::after,
.emoji-wrong::after,
.emoji-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
}

.emoji::after {
  content: "?";
  font-size: inherit;
  font-family: "Franklin Gothic Medium";
  color: #b87700;
  background: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.emoji-reveal,
.game-won .emoji::after,
.emoji-wrong,
.emoji-right {
  transform: rotateY(0deg);
}

.game-won .emoji::after,
.emoji-wrong::after,
.emoji-right::after {
  content: "";
  opacity: 0.35;
  transform: rotateY(0deg);
}

.emoji-wrong::after {
  background-color: red;
}
.game-won .emoji::after,
.emoji-right::after {
  background-color: green;
}
