body {
  background-image: linear-gradient(#1a1e5c, pink, lightblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #eee;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
  margin: 5%;
}

.home {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.home :is(h1, h2) {
  color: #12343b;
}

.home button {
  background-color: darkred;
  padding: 1rem 4rem;
  border-radius: 4rem;
  border: none;
  transition: background-color 0.14s, transform 0.14s;
  cursor: pointer;
}

.home button:hover {
  background-color: #ad2d2d;
  transform: scale(1.05);
}

.home button h2 {
  color: #eee;
}
